@import url(/src/styles/partials/_mixins.scss);
@import url(/src/styles/partials/_variables.scss);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

// Reset

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

// Style Generali

ul {
  list-style-type: none;
}
